#message {
    height: 100%;    
    border: blue dashed thick;

    background-color: aqua;
    color: white;

    white-space: pre-wrap;
    text-align: center;    
}


.redMessage {
    animation: redden 1s infinite;
}

@keyframes redden {
    0%, 100% {
        color: white;
    }

    50% {
        color: red;
    }
}

.greenMessage {
    animation: greenen 1s;
}

@keyframes greenen {
    0%, 100% {
        color: white;
    }

    50% {
        color: green;
    }
}

